

i{
    color: rgb(251, 156, 4);
}


h1{
    color: rgb(255, 180, 4);
}
h2{
    color: rgb(255, 180, 4);
}
main{
    margin: 20px 0 200px 0;
}


.historique p{
  font-family: 'Courier New', Courier, monospace;
  margin: 20px;
}

.misson{
    margin: 20px;
}

.vision{
    margin: 20px;
}

.valeurs{
    margin: 20px;
}

.contact{
    margin: 20px;
}



footer{
    background: linear-gradient(to right, #0d0d0d, rgba(34, 82, 8, 0.739), #101010);
    text-align: center;
    position: relative;
    bottom: 0;
    width: 100%;
    display: flex;
    flex-direction: column;
    padding-top:10px;
   
}
footer ul{
    margin: 0;
    display: flex;
    justify-content: center;

}
footer ul li{
    list-style: none;
}
footer ul li a{
    text-decoration: none;
    color: rgb(246, 246, 246);
    transition: background-color 0.3s ease;
    margin-left: 10px;
}
main{
    margin-bottom: 20px;
}
    .barre_recherche{
        position: fixed;
        left: 65%;
        margin: 3% 2% 0 0;
        margin-bottom: 10px;
        position: relative;
    }
    .barre_recherche input{
        width: 30%;
        padding: 10px;
        border: none;
        border-radius: 4px;
        background-color:rgb(80, 77, 77);
        text-align: center;
        color: rgb(246, 246, 246);
    }
    .barre_recherche input::placeholder{
        color: rgb(246, 246, 246);
    }
    .barre_recherche .btn{
        background-color: rgb(80, 77, 77);
        color: rgb(246, 246, 246);
        padding: 8px;
        border: none;
        border-radius: 4px;
        cursor: pointer;
        margin-left: 5px;
    }
    


@media (max-width: 600px) {
    main{
        margin: 20px 0 100px 0;
    }
    footer{
        
        display: flex;
        align-items: center;
        justify-content: center;
        text-align: center;
        font-size: 14px;
        padding: 0;
    }
    .barre_recherche{
        width: 80%;
        margin-bottom: 10px;
        position: relative;
        left: 15%;
    }
    .barre_recherche input{
        width: 80%;
        padding: 8px;
        border: none;
        border-radius: 4px;
    }
  
}